@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Rubik&display=swap');




body,html{
    width: 100%;
    height: 100%;
    background-color: #202020;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: white;
}
.material-symbols-outlined:hover{
    color: #2463e1;
    cursor: pointer;
    transition: 0.5s;
}
.container{
    width: 100%;
    height: 1200px;
    display: inline-flex;
    flex-direction: row;
    column-gap: 3rem;
}
.Icons{
    font-size: 30px;
}
.menuDiv{
    display: inline-flex;
    flex-direction: column;
    row-gap: 3rem;
    margin-top: 2rem;
    margin-left: 2rem;
}
.brandH3{
    color: white;
}
.menuColumnDiv{
    display: inline-flex;
    flex-direction: column;
    row-gap: 2rem;
}
.menuRowDiv{
    display: inline-flex;
    flex-direction: row;
    column-gap: 1rem;
}
.menup{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
.menup:hover{
    color: #2463e1;
    transition: 0.5s;
    cursor: pointer;
}
.rowMain{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    column-gap: 1rem;
    margin-top: 2rem;
}
.main{
    display: inline-flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.search-notifDiv{
    display: flex;
    flex-direction: row;
    column-gap: 32rem;
}
.searchDiv{
    width: 300px;
}
.searchInput{
    background-color: #282828;
    border: 1px solid #282828;
    border-radius: 25px;
    color: white;
}
.searchBtn{
    background-color: #282828;
    border: 1px solid #282828;
    border-radius: 25px;
}
.searchBtn:hover{
    background-color: #2463e1;
    color: white;
}
.searchIcon:hover{
    color: white;
}
.Overview-dotDiv{
    padding-top: 1rem;
    display: inline-flex;
    flex-direction: row;
    column-gap: 45.5rem;
}
.Overview{
    font-family: 'Mukta';
    color: white;
}
.flexboxes-rowDiv{
    display: inline-flex;
    flex-direction: row;
    column-gap: 2rem;
}
.flexBox1{
    width: 40%;
    height: 350px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='350' height='350' preserveAspectRatio='none' viewBox='0 0 350 350'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1078%26quot%3b)' fill='none'%3e%3crect width='350' height='350' x='0' y='0' fill='rgba(40%2c 40%2c 40%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c80 C 35%2c87.2 105%2c126.2 175%2c116 C 245%2c105.8 315%2c46.4 350%2c29L350 350L0 350z' fill='rgba(53%2c 0%2c 211%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c321 C 23.4%2c292.6 70.2%2c183 117%2c179 C 163.8%2c175 187.4%2c284.6 234%2c301 C 280.6%2c317.4 326.8%2c269 350%2c261L350 350L0 350z' fill='rgba(36%2c 0%2c 144%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1078'%3e%3crect width='350' height='350' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    border: 1px solid #282828;
    border-radius: 15px;
}
.flexBox1-details{
    display: inline-flex;
    flex-direction: column;
    row-gap: 3rem;
    padding-left: 2rem;
    padding-top: 2rem;
}
.detailes{
    display: inline-flex;
    flex-direction: column;
    row-gap: 0.2rem;
}
.flexBox1P{
    color: white;
    opacity: 50%;
    font-size: 1.1rem;
}
.flexBox1-euroPrice{
    display: inline-flex;
    flex-direction: row;
    column-gap: 1rem;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
  }
.euroSymbol{
    font-size: 36px;
}
.euroPriceh3{
    font-size: 1.8rem;
    color: white;
}
.dateDitailes1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dateDitailes2{
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    justify-content: center;
}
.dateP1{
    color: white;
    opacity: 25%;
    font-size: 1.2rem;
}
.dateP2{
    color: white;
    opacity: 50%;
    font-size: 1.2rem;
}
.dateP3{
    color: white;
    opacity: 100%;
    font-size: 1.2rem;
}
.dateP4{
    color: white;
    opacity: 50%;
    font-size: 1.2rem;
}
.dateP5{
    color: white;
    opacity: 25%;
    font-size: 1.2rem;
}
.flexBox2{
    width: 23%;
    height: 350px;
    background-color: #282828;
    border: 1px solid #282828;
    border-radius: 15px;
}
.flexBox3Column{
    display: inline-flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
}
.flexRow1{
    display: inline-flex;
    flex-direction: row;
    column-gap: 0.9rem;
}
.transferSymbol{
    font-size: 30px;
    background-color: #353535;
    width: 40px;
    height: 40px;
    border: 1px solid #353535;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
}
.flexBox2P{
    color: white;
    font-size: 1.4rem;
    opacity: 50%;
}
.flexRow2{
    display: inline-flex;
    flex-direction: row;
    column-gap: 0.3rem;
}
.row2P1{
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}
.row2P2{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}
.flexBoxcolumnDiv{
    width: 25%;
    display: inline-flex;
    flex-direction: column;
    row-gap: 1.2rem;
}
.flexBox3{
    width: 100%;
    height: 165px;
    background-color: #282828;
    border: 1px solid #282828;
    border-radius: 15px;
}
.flexBox4{
    width: 100%;
    height: 165px;
    background-color: #282828;
    border: 1px solid #282828;
    border-radius: 15px;
}
.profile{
    width: 400px;
    height: 1090px;
    background-color: #282828;
    border: 1px solid #282828;
    border-radius: 25px;
}
.profileColumnDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}
.profileRowDiv1{
    display: flex;
    flex-direction: row;
    column-gap: 7.5rem;
}
.profileImgName{
    display: flex;
    flex-direction: row;
    column-gap: 1.3rem;
}
.imgDiv{
    width: 50px;
    height: 50px;
    border: 1px solid #282828;
    border-radius: 50%;
}
.steveImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nameP{
    font-size: 1.3rem;font-weight: bold;
    color: white;
    padding-top: 10px;
}
.expand_more{
    padding-top: 10px;
}
.profileRowDiv2{
    display: inline-flex;
    flex-direction: row;
    column-gap: 17.8rem;
}
.Wallet{
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}
.profileRowDiv3{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
.creditCard{
    width: 285px;
    height: 300px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='285' height='300' preserveAspectRatio='none' viewBox='0 0 285 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask4601%26quot%3b)' fill='none'%3e%3crect width='285' height='300' x='0' y='0' fill='url(%23SvgjsLinearGradient4602)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask4601'%3e%3crect width='285' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='-1.32%25' y1='98.75%25' x2='101.32%25' y2='1.25%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient4602'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0.26'%3e%3c/stop%3e%3cstop stop-color='rgba(36%2c 0%2c 144%2c 1)' offset='0.55'%3e%3c/stop%3e%3cstop stop-color='rgba(53%2c 0%2c 211%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    border: 1px solid #282828;
    border-radius: 25px;
    display: inline-flex;
    flex-direction: column;
    row-gap: 2.7rem;
}
.creditRowDiv1{
    display: inline-flex;
    flex-direction: row;
    column-gap: 7rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}
.creditH3-1{
    color: white;
    font-weight: bold;
}
.chipImg{
    width: 50px;
    height: 50px;
}
.creditColumnDiv1{
    display: inline-flex;
    flex-direction: column;
    row-gap: 0rem;
    padding-left: 1.5rem;
}
.ActiveBalance{
    color: white;
    opacity: 50%;
    font-size: 1.1rem;
    font-weight: bold;
}
.creditEuroPrice{
    display: inline-flex;
    flex-direction: row;
    column-gap: 0.9rem;
}
.creditRowDiv2{
    display: inline-flex;
    flex-direction: row;
    column-gap: 3rem;
    padding-left: 1.5rem;
}
.FAlexandra{
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
}
.dateAlexandra{
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    opacity: 50%;
}
.plus{
    font-size: 30px;
    font-weight: bold;
}
.profileColumnDiv2{
    display: inline-flex;
    flex-direction: column;
}
.profileRowDiv4{
    display: inline-flex;
    flex-direction: row;
    column-gap: 12.5rem;
}
.QuickTransfer{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}
.sendDiv{
    display: inline;
    width: 75%;
}
.sendInput{
    width: 75%;
    border: 1px solid #202020;
    border-radius: 20px;
    display: inline;
}
.sendBtn{
    width: 12%;
    height: 39px;
    border: 1px solid #2463e1;
    border-radius: 12px;
    margin-left: 0.6rem;
}
.profileColumnDiv2{
    display: inline-flex;
    flex-direction: column;
    row-gap: 1.2rem;
}
.profileRowDiv6{
    display: inline-flex;
    flex-direction: row;
    column-gap: 16.5rem;
}
.profileRowDiv7{
    display: inline-flex;
    flex-direction: row;
    column-gap: 2rem;
}
.Contact{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}
.Number{
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    opacity: 50%;
}
.contactsImg{
    width: 45px;
    height: 45px;
    border: 1px solid #282828;
    border-radius: 50%;
}
.profileColumnDiv3{
    display: inline-flex;
    flex-direction: column;
    row-gap: 1.2rem;
}
.profileRowDiv8{
    display: inline-flex;
    flex-direction: row;
    column-gap: 17.2rem;
}
.Recent{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}
.recentDiv{
    background-color: #353535;
    width: 95%;
    height: 80px;
    border: 1px solid #353535;
    border-radius: 25px;
}
.recentRowDiv1{
    display: inline-flex;
    flex-direction: row;
    column-gap: 1.4rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
.RecentImg1{
    width: 45px;
    height: 45px;
    border: 1px solid #282828;
    border-radius: 50%;
}
.RecentColumnDiv1{
    display: inline-flex;
    flex-direction: column;
}
.MariaLim{
    color: white;
    font-size: 1.2rem;
}
.recentRowDiv2{
    display: inline-flex;
    flex-direction: row;
    column-gap: 0.9rem;
}
.VISA{
    color: white;
    font-weight: bold;
}
.creditNumber{
    color: white;
    opacity: 50%; 
}
p{
    margin-bottom: 0;
}
.mainRowDiv1{
    display: inline-flex;
    flex-direction: row;
    column-gap: 43.5rem;
}
.transactionsDivCOLUMN{
    display: inline-flex;
    flex-direction: column;
    row-gap: 3rem;
}
.Transactions{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}
.TransactionsDivs{
    width: 100%;
    height: 75px;
    background-color: #202020;
    border: 1px solid #202020;
    border-radius: 25px;
}
.TransactionsRowDiv1{
    display: inline-flex;
    flex-direction: row;
    column-gap: 6rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
.TransactionsRowDiv2{
    display: inline-flex;
    flex-direction: row;
    column-gap: 0.5rem;
    width: 20%;
}
.electrictyIconDiv{
    background-color: #353535;
    width: 35px;
    height: 35px;
    border: 1px solid #353535;
    border-radius: 50%;
}
.electrictyIcon{
    font-size: 20px;
    padding-left: 7px;
    padding-top: 7px;
}
.electrictyP{
    color: white;
    font-size: 1.2rem;
    width: 85px;
}
.TransactionsColumnDiv1{
    display: inline-flex;
    flex-direction: column;
}
.transactionP1{
    font-size: 0.9rem;
    color: white;
    opacity: 50%;
}
.transactionP2{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}
.TransactionsRowDiv3{
    display: inline-flex;
    flex-direction: row;
    column-gap: 0.2rem;
}
.transactionEuroSymbol{
    font-size: 17px;
    margin-top: 6px;
}
.transactionBtn{
    background-color: #202020;
    border: 2px solid #2463e1;
    color: #2463e1;
    border-radius: 15px;
    width: 15%;
    margin-left: 4rem;
}
.transactionBtn:hover{
    background-color: #2463e1;
    cursor: pointer;
}
.cryptoPriceDiv{
    width: 95%;
    height: 850px;
    background-color: #282828;
    border: 1px solid #282828;
    border-radius: 25px;
    margin-left: 2rem;
}
.container2RowDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4rem;
}
.container2ColumnDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.trendingDiv{
    width: 30%;
    height: 1200px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='457' height='1200' preserveAspectRatio='none' viewBox='0 0 457 1200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1036%26quot%3b)' fill='none'%3e%3crect width='457' height='1200' x='0' y='0' fill='url(%23SvgjsLinearGradient1037)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1036'%3e%3crect width='457' height='1200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1037'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0.26'%3e%3c/stop%3e%3cstop stop-color='rgba(36%2c 0%2c 144%2c 1)' offset='0.55'%3e%3c/stop%3e%3cstop stop-color='rgba(53%2c 0%2c 211%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    border: 1px solid #282828;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.trendingRowDiv1{
    padding-left: 1rem;
    padding-top: 1rem;
    display: flex;
    column-gap: 7rem;
}
.trendingRowDiv2{
    display: flex;
    column-gap: 0.5rem;
}
.trendingImg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.trendingCoinName{
    padding-top: 5px;
}
.trendCoinName{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
.marketCapDiv{
    width: 180px;
    padding-top: 7px;
    text-align: right;
    align-items: end;
}
.marketCap{
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: right;
}
.coinsDiv{
    width: 60%;
    height: 1200px;
    background-color: #282828;
    border: 1px solid #282828;
    border-radius: 25px;
}
.coinsPriceHeaderDiv{
    width: 100%;
    height: 80px;
    display: flex;
    column-gap: 21rem;
    padding-left: 6.4rem;
    padding-top: 2rem;
    border-bottom: 0.5px solid #2463e1;
}
.coinsPriceHeaderRowDiv1{
    display: flex;
    column-gap: 0rem;
}
.hashtag{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    width: 70px;
}
.CoinNAME{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    width: 70px;
}
.coinsPriceHeaderRowDiv2{
    display: flex;
    column-gap: 10rem;
    text-align: end;
}
.coinsPriceHeaderPrice{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    width: 70px;
    text-align: right;
}
.coinsPriceHeaderChange{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    width: 70px;
    text-align: right;
}
.coinsColumnDiv1{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.coinsRowDiv1{
    width: 100%;
    height: 120px;
    display: inline-flex;
    flex-direction: row;
    column-gap: 6rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.034);
    padding-left: 3rem;
    padding-top: 2.5rem;
}
.coinsRowDiv2{
    display: inline-flex;
    flex-direction: row;
    column-gap: 4rem;
}
.coinsRowDiv3{
    display: inline-flex;
    flex-direction: row;
    column-gap: 2rem;
}
.cryptoNumber{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
.coinsRowDiv4{
    display: inline-flex;
    flex-direction: row;
    column-gap: 0.5rem;
}
.coinsImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.coinsNameDiv{
    display: inline-flex;
    flex-direction: row;
}
.coinsName1{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100px;
}
.coinsName2{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 50%;
    width: 100px;
}
.coinsRowDiv5{
    display: flex;
    column-gap: 6rem;
    text-align: end;
}
.coinsPrice{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    width: 130px;
}
.coinsChange{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    width: 130px;
}
.rising .coinsPrice{
    color: #30ff20;
}
.falling .coinsPrice{
    color: #ff4040;
}